@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
:root{
    --Verde-claro: #dff3e3;
    --verde-oscuro: #174d39;
    --verde: #219267;
    --gris-claro: #d9d9d9;
}

*{
    font-family: 'Tilt Neon', cursive;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--Verde-claro);
}

.barra-menues{
    display: none;
}

.envios-pais{
    display: none;
    text-align: center;
}

.header-superior {
   background-color: var(--Verde-claro);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    max-width: 1200px;
    text-align: center;
    margin:auto
}

header {
    /*position: sticky;
    top: 0px;*/
    background-color: var(--Verde-claro);
    padding: 20px;
    width: 100vw;
    margin: auto;
}

.logo {
    width: 50vw;
}

.inicio-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
    gap: 2vh;
}

#big-icon {
    border: solid #174d39 2px;
    padding: 1vh;
    border-radius: 50%;
    font-size: 5vh;
    color: var(--verde-oscuro);
}

.header-inferior {
    display: flex;
    align-items: flex-start;
    background-color: var(--verde);
}
.hamburguesa {
    /*font-size: 8vw;
    padding: 2%;
    background-color: var(--verde);*/
    text-align: center;
    color: white;
    background-color: #141413;
    border-radius: 6px;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    font-size: 24px;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
}

#lupa {
    font-size: 25px;
    position: relative;
    right: 35px;
    color: var(--verde-oscuro);
}

.barra {
    width: 80vw;
    height: 40px;
    border-radius: 10px;
}

.banner {
    width: 100%;
    height: 25em;
}

.Productos-Destacados {
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
    margin-bottom: 8vh;
}

.Producto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    border: solid var(--gris-claro) 1px;
}

.img-producto{
    width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 10px;
}

.Detalle-producto {
    grid-column-start: 3;
    text-align: center;
    height: 50%;
    margin: auto;
    border-left: solid var(--gris-claro) 1px;
}

.precio {
    font-weight: bold;
    color: var(--verde-oscuro);
    font-size: 1.5rem;
    padding-top: 1rem;
}

.categorias-container{
    margin: auto;
    display: grid;
    gap: 1rem;
    width:60vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 5vh;
}  

.categoria{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    border: solid var(--gris-claro) 1px;
    border-radius: 10px;
}

.categoria:hover i {
    transform: scale(1.4);
    color: var(--verde);
}

.categoria i{
    font-size: 4rem;
    padding-top: 15%;
    padding-bottom: 10%;
    color: var(--verde-oscuro);
}

/*ESTILOS DEL FORMULARIO DE REGISTRO*/

.titulo{
    font-size: 1rem;
    color: #219267;
    text-align: center;
    padding: 10px;
    border: solid 2px #174d39;
    margin: 10px;
}

.formulario{
    
    padding: 20px 15px;
    background-color: #dff3e3;
    text-align: left;
    color: rgb(5, 97, 25);
    font-family: 'Playfair Display', serif;
}
.campo {
    padding: 2px;
    margin-top: 7px;
    font-size: 12px;
}
.campo input{
    width: 100%;
    margin-top: 5px;
    border: 0;
}
.obligatorio{
    font-size: 8px;
}
.irlogin{
    font-size: 8px;
    margin-top: 7px;
    text-align: right;
}
.crear{
    text-align: right;
    margin-top: 10px;
    width: 80%;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 450ms 
}
.crear button{
    /*background-color: #174d39;
    color: #dff3e3;
    padding: 10px;
    border-radius: 10px;*/
    width: 40%;
    background-color: #a6a597;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 450ms;
}

footer {
    background-color:var(--Verde-claro) ;
}

footer ul {
    display: flex;
    width: 65vw;
    margin: auto;
    gap: 2rem;
    justify-content: space-between;
}

footer p{
    font-size: 12px;
}

footer ul li{
    border: solid #174d39 1px;
    padding: 0.5rem;
    list-style-type: none;
    text-align: center;
    width: 25%;
 }

 footer ul :hover{
    transform: scale(1.2);
    background-color: var(--verde);
    /* transition: all 1s; */
 }

footer ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-weight: bold;
}

.redes-container{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
}

.redes-container i{
    color: black;
    font-size: 4rem;
}

.redes-container :hover {
    color: var(--verde-oscuro);
    transform:scale(1.2);
}

.imagenProducto{
    width: 20%;
    border-radius: 10%;
}
.descripcionProducto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    padding: 0 15px 0 15px;
}
.precioProducto{
    font-size: 50px;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    border: solid var(--gris-claro) 1px;
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;
}

.mapa{
    width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 10px;
}

.info_contacto {
    grid-column-start: 3;
    text-align: center;
    height: 50%;
    margin: auto;
    border-left: solid var(--gris-claro) 1px;
}

.info_contacto h3 {
    color: #174d39;
    padding: 15px;
}
.info_contacto h4 {
    padding: 10px;
    color: #219267;
}
.info_contacto h5 {
    color: #219267;
}
.div_historia{
    width: 50vh;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5rem;

}
.historia{
    width: 80vh;

}

/*Port a dekstop*/
/*HOME*/
@media (min-width: 925px) {
header{
    position: relative;
}

.logo{
    width: 20vw;
    margin-left: 10%;
    position: relative;
    top: 10px;
}

.hamburguesa{
    display: none;
}

.inicio-carrito{
    display: none;;
}
header section{
    display: flex;
    background-color: var(--Verde-claro);
}

.header-inferior{
    background-color: var(--Verde-claro);
    padding-left: 5%;
}

.barra-busqueda{
    width: 60vw;
}

.envios-pais{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}
.envios-pais i{
    font-size: 25px;
    color: var(--verde-oscuro);
}

.barra-menues{
    display: flex;
    width: 70vw;
    margin-left: 25vw;
    justify-content: space-between;
}

.barra-menues ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.vinculos a{
    text-decoration: none;
    color: black;
}
.vinculos :hover li {
    color: var(--verde);
}
.titulo{
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.formulario{
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.campo label{
    font-size: 20px;
}
.campo input{
    font-size: 30px;
    border: 0;
}
.obligatorio{
    font-size: 12px;
}
.irlogin{
    font-size: 12px;
}
.crear button{
    font-size: 30px;
}
.crear button:hover{
    background-color: #219267;
    box-shadow: 5px 5px 3px 3px rgba(53,53,53,0.89);
}

}