<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <main>
        <h2 class="titulo">Centro de Ayuda</h2>
        <div class="texto-envio">
            <div class="texto-envio">
                <h2 class="ayuda">Si tenes algún inconveniente o consulta sobre tu compra, contáctanos al 3496 777777</h2>
                <h3 class="ayudaa">Nuestros horarios de atención son de lunes a sábado de 10 a 20hs, con excepción de los feriados.</h3>
                <h3 class="ayudaa">Te pedimos que tengas tu número de pedido a mano, vamos a solicitártelo para poder analizar tu caso. (El mismo cuenta con 11 dígitos y comienza con 800 o 900).</h3>
                <h3 class="ayudaa">También podes escribirnos a tecnoglobal@gmail.com, y un agente se estará comunicando con vos dentro de las próximas 48hs hábiles.</h3>
            </div>
        </div>
        

    </main>
    <%- include('partials/footer') %>
</body>

</html>