<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Carrito'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="titulo">
            <h2>MI CARRITO</h2>
        </section>
        <section class="productosComprados">
            <article class="producto">
                <img class="imagenProducto" src="images/balanza-cocina-keber1-151d8ff2f7d8896da316278508265921-640-0.png">
                <div class="descripcionProducto">
                    <p class="nombre">BALANZA DE COCINA</p>
                    <p class="descripcion">Lorem ipsum dolor sit amet. Et dolorem dolore ut enim tenetur vel quisquam quod eum nemo voluptas!</p>
                    <a><li>Modificar</li></a>
                    <a><li>Borrar</li></a>
                </div>
                <div clas="precioProducto">
                    <button type="submit"> - </button>
                    <p class="cantidad"> 1 </p>
                    <button type="submit"> + </button>
                    <p>$XXXXXX</p>
                </div>
            </article>
            <article class="producto">
                <img class="imagenProducto" src="images/Celular-xiaomi-redmi-10-.png">
                <div class="descripcionProducto">
                    <p class="nombre">CELULAR</p>
                    <p class="descripcion">Lorem ipsum dolor sit amet. Et dolorem dolore ut enim tenetur vel quisquam quod eum nemo voluptas!</p>
                    <a><li>Modificar</li></a>
                    <a><li>Borrar</li></a>
                </div>
                <div clas="precioProducto">
                    <button type="submit"> - </button>
                    <p class="cantidad"> 1 </p>
                    <button type="submit"> + </button>
                    <p>$XXXXXX</p>
                </div>
            </article>
            <article class="producto">
                <img class="imagenProducto" src="images/licuadora smartlife.jpg">
                <div class="descripcionProducto">
                    <p class="nombre">LICUADORA</p>
                    <p class="descripcion">Lorem ipsum dolor sit amet. Et dolorem dolore ut enim tenetur vel quisquam quod eum nemo voluptas!</p>
                    <a><li>Modificar</li></a>
                    <a><li>Borrar</li></a>
                </div>
                <div clas="precioProducto">
                    <button type="submit"> - </button>
                    <p class="cantidad"> 1 </p>
                    <button type="submit"> + </button>
                    <p>$XXXXXX</p>
                </div>
            </article>
        </section>

    </main>
    <%- include('partials/footer') %>
</body>
</html>