<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <h2 class="titulo">Categorias</h2>
        <nav class="categorias-container">
            <nav class="categoria">
                <i class="fa-solid fa-mobile-screen"></i>
                <h3>Smartphones</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-laptop"></i>
                <h3>Laptops</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-house"></i>
                <h3>Hogar</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-utensils"></i>
                <h3>Cocina</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-tv"></i>
                <h3>TVs</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-gamepad"></i>
                <h3>Consolas</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-temperature-arrow-down"></i>
                <h3>Refrigeracion</h3>
            </nav>
            <nav class="categoria">
                <i class="fa-solid fa-computer-mouse"></i>
                <h3>Perifericos</h3>
            </nav>
        </nav>
    </main>
    <%- include('partials/footer') %>
</body>

</html>