<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <main>
        <h2 class="titulo">Nuestro contacto</h2>
        <div class="contacto">
            <iframe class= "mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8095.473928044199!2d-60.93334121444425!3d-31.44916799503333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b51317b5f038b3%3A0x3d7e420802af624a!2sBelgrano%202139%2C%20S3080BQQ%20Esperanza%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1677786537168!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <section class="info_contacto">
                <h3>ESPERANZA, SANTA FE</h3>
                <h4>Belgrano 2139</h4>
                <h4>3496 777777</h4>
                <h4>tecnoglobal@gmail.com</h4>
                <h4>Horario de Atención</h4>
                <h5>Lunes a Sábado </h5>
                <h5>de 08:00 a 12:00hs y de 16,30 a 20,30hs</h5>
            </section>
        </div>
        

    </main>
    <%- include('partials/footer') %>
</body>

</html>