<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <main>
        <h2 class="titulo">Envíos a Domicilio</h2>
        <div class="texto-envio">
            <h3 class="texto">Entregamos su producto en todo el país. Los tiempos y costos de transporte dependerán de la compra realizada. Puede utilizar nuestro simulados de costos de fletes para estimar los gastos de envió para su localidad.</h3>
            <h3 class="texto">Las entregas se realizaran los días hábiles de lunes a sábados y deberán ser recibidos por la persona autorizada presentando su DNI identidad, y la tarjeta de crédito en caso seas el titular.</h3>
            <h3 class="texto">Se recomienda revisar los artículos recibidos antes de firmar la conformidad de entrega.</h3>
        </div>
        

    </main>
    <%- include('partials/footer') %>
</body>

</html>