<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <main>
        <h2 class="titulo">Preguntas Frecuentes</h2>
        <div class="texto-envio">
            <h3 class="preguntas">¿Cuáles son las formas de pago?</h3>
            <h4 class="texto">Podes abonar tus compras con efectivo en sucursales, depósitos y/o transferencias bancarias. También podrás abonarlas con las siguientes tarjetas: Visa (Tarjetas de Débito y Créditos, MasterCard (Tarjetas de Débito y Créditos, Tarjeta Naranja (Tarjetas de Créditos),Cabal (Tarjetas de Débito y Créditos), Tarjeta Nativa (Tarjetas de Débito y Créditos).</h4>
            <h3 class="preguntas">¿Qué tipo de factura realizan?</h3>
            <h4 class="texto">Realizamos factura A o B, según corresponda vuestra inscripción. 
                En el caso de que necesites factura A, tené en cuenta que, por ser agentes de retención, puede ocurrir que debamos generar una percepción de Ingresos Brutos. En ese caso te informaremos la diferencia que deberías abonar a través de transferencia bancaria, la cual debe estar saldada para que podamos despachar tu pedido. También tené presente que tenes que solicitar la factura A al momento de realizar el pedido. No después.</h4>
            <h3 class="preguntas">¿Cuáles son los días y horarios de entrega?</h3>
            <h4 class="texto">Nuestros envíos se realizan de lunes a viernes en la franja horaria de 10 a 15 horas.</h4>
            <h3 class="preguntas">¿Cómo funciona el sistema "Retiro en Sucursal"?</h3>
            <h4 class="texto">El sistema de retiro en sucursal es gratuito. Sólo debes seleccionar la sucursal en la que querés retirar tu compra. Al procesar la orden te enviaremos tu factura y te indicaremos a partir de cuándo el producto estará disponible para ser retirado. Al momento de retirar el producto debés presentar el DNI, Tarjeta y la factura de la operación.</h4>
        </div>
        

    </main>
    <%- include('partials/footer') %>
</body>

</html>