<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <h2 class="titulo">Productos Destacados</h2>
                <nav class="Productos-Destacados">
                    <nav class="Producto">
                        <img class="img-producto"
                            src="images/balanza-cocina-keber1-151d8ff2f7d8896da316278508265921-640-0.png" alt="">
                        <nav class="Detalle-producto">
                            <p class="nombre-producto">Balanza de cocina keber</p>
                            <p class="precio">$4000</p>
                        </nav>
                    </nav>
                    <nav class="Producto">
                        <img class="img-producto" src="images/Notebook-ASUS-X515EA.png" alt="">
                        <nav class="Detalle-producto">
                            <p class="nombre-producto">Notebook ASUS X515EA</p>
                            <p class="precio">$135.000</p>
                        </nav>
                    </nav>
                    <nav class="Producto">
                        <img class="img-producto" src="images/licuadora-atma-li8444-con-jarra-de-vidrio-220v-roja.jpg"
                            alt="">
                        <nav class="Detalle-producto">
                            <p class="nombre-producto">Licuadora atma vidrio 220v</p>
                            <p class="precio">$23.000</p>
                        </nav>
                    </nav>
                    <nav class="Producto">
                        <img class="img-producto" src="images/Celular-xiaomi-redmi-10-.png" alt="">
                        <nav class="Detalle-producto">
                            <p class="nombre-producto">Celular xiaomi redmi 10</p>
                            <p class="precio">$92.000</p>
                        </nav>
                    </nav>
                </nav>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>