<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Porduct detail'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="lista de productos">
            <img class=productos src="/images/licuadora smartlife.jpg " alt="licuadora smartlife">
            <article class="descripcion prod.">
            <p class="fas fa-truck"></p>
            <p class="precios">$23.000<i class="descuentos">20% off</i></p>
            <p class="descripciones"><strong>Licuadora smartlife</strong></p>
            </article>
        </section>
        <br>
        <section class="lista de productos">
            <img class=productos src="/images/Maquina de afeitar.jpg" alt="afeitadora philips">
            <article class="descripcion prod.">
            <p class="fas fa-truck"></p>
            <p class="precios">$70.500<i class="descuentos">10% off</i></p>
            <p class="descripciones"><strong>afeitadora philips</strong></p>
            </article>
        </section>
        <section class="lista de productos">
            <img class=productos src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$6.770<i class="descuentos">40% off</i></p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </article>
        </section>
            <br>
        <section class="lista de productos">
            <img class=productos src="/images/Smart tv curvo.jpg" alt="smart tv curvo">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$200.500<i class="descuentos">15% off</i></p>
            <p class="descripciones"><strong>Samsung Smart Tv</strong></p>
            </article>
        </section>
            <p class="titulares"><strong>Sección de ofertas</strong></p>
        <section class="lista de productos">
            <img class=productos src="/images/Samsung Galaxy A71.jpg" alt="Samsung Galaxy A71">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$75.770<i class="descuentos">40% off</i></p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </article>
        </section>
            <br>
        <section class="lista de productos">
            <img class=productos src="/images/lavarropas.jpg" alt="lavarropas drean">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$200.500<i class="descuentos">15% off</i></p>
            <p class="descripciones"><strong>lavarropas drean</strong></p>
            </article>
        </section>
        <section class="lista de productos">
            <img class=productos src="/images/Maquina para hacer pan.jpg" alt="Maquina para hacer pan">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$230.000<i class="descuentos">20% off</i></p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </article>
        </section>
        <br>
        <section class="lista de productos">
            <img class=productos src="/images/Smart tv curvo.jpg" alt="Smart tv curvo">
            <article class="sub-main-descripcion">
            <p class="fas fa-truck"></p>
            <p class="precios">$70.500<i class="descuentos">10% off</i></p>
            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </article>
        </section>    
        </main>
        <%- include('partials/footer') %>
</body>
</html>