<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <main>
        <h2 class="titulo">Gift Card</h2>
        <div class="contacto">
            <img class= "tarjeta" src="/images/Tarjeta gift card para estética delicada y dulce beige y rosa.png">
            <section class="info_contacto">
                <h4 class="gift-card">1. Acercate a tu sucursal más cercana</h4>
                <h4 class="gift-card">2. Elegis la Gift Card del monto que más te guste</h4>
                <h4 class="gift-card">3. La persona a quien se la regales puede llevarse eso que siempre quiso en cualquier sucursal</h4>
                <h5 class="gift-card">La validez e las Gift Cards son de 90 días.</h5>
            </section>
        </div>
        

    </main>
    <%- include('partials/footer') %>
</body>

</html>