<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Register'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="titulo">
            <h2>CREÁ TU CUENTA</h2>
        </section>
        <form action="/user/register" method="POST" enctype="multipart/form-data"> 
            <section class="formulario">
                <article class="datos">
                    <p class="campo">
                        <label for="nombre">Nombre*</label>
                        <input type="text" name="nombre" id="nombre">
                    </p>
                    <% if (locals && locals.mensajesDeError){ %>
                        <% for (let error in mensajesDeError){ %>
                            <p> <%= mensajesDeError[error].msg %> </p>
                        <% } %>
                    <% } %>
                    <p class="campo">
                        <label for="apellido">Apellido*</label>
                        <input type="text" name="apellido" id="apellido">
                    </p>          
                    <p class="campo">
                        <label for="email">Email*</label>
                        <input type="email" name="email" id="email">
                    </p>
                    <p class="campo">
                        <label for="telefono">Teléfono</label>
                        <input type="number" name="telefono" id="telefono">
                    </p>
                    <p class="campo">
                        <label for="contraseña">Contraseña*</label>
                        <input type="password" name="contraseña" id="contraseña">
                    </p>
                    <p class="campo">
                        <label for="contraseñaagain">Confirmar contraseña*</label>
                        <input type="password" name="contraseñaagain" id="contraseñaagain">
                    </p>
                    <h3 class="obligatorio">*Campos obligatorios</h3>
                </article>
                <p>
                    <label for="imgperfil">Imagen de Perfil</label>
                    <input type="file" name= "imgperfil">
                </p>
                <div class="crear">
                    <button type="submit">CREAR CUENTA</button>
                </div>
                <p class="irlogin">¿Ya tenés cuenta?<a href="/login">Iniciar sesión</a></p>
            </section>
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>