<footer>
    <ul>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/history">Nosotros</a></li>
        <li><a href="/preguntas">FAQs</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
    </ul>
    <article class="redes-container">
        <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="/contact"><i class="fa-solid fa-square-phone-flip"></i></a>
        <a href="https://es-la.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-square-twitter"></i></a>
    </article>
    <p>Terminos y condiciones</p>
</footer>