<header>
    <section>
    <nav class="header-superior">
        <a href="/"><img class="logo" src="/images/2(2).jpg"></a>
        <nav class="inicio-carrito">
            <a href="/login">
                <i id="big-icon" class="fa-solid fa-user"></i>
            </a>
            <a href="/carrito">
                <i id="big-icon" class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </nav>
    <nav class="header-inferior">
        <nav class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </nav>
        <nav class="barra-busqueda">  
            <input class="barra" placeholder="  Buscar productos">
            <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
        </nav>
    </nav>
    <nav class="envios-pais">
        <i class="fa-solid fa-truck-fast"></i>
        <p>Envío a todo el país</p>
    </nav>
</section>
<section>
    <nav class="barra-menues">
        <ul class="vinculos">
            <a href="#"><li>Categorias</li></a>
            <a href="#"><li>Productos Destacados</li></a>
            <a href="#"><li>Sucursales</li></a>
            <a href="#"><li>Ayuda</li></a>
        </ul>
        <ul class="vinculos">
            <a href="/user/login"><li>Inicia sesion</li></a>
            <a href="/user/register"><li>Regístrate</li></a>
            <a href="/carrito"><li>Mi carrito</li></a>
        </ul>
    </nav>
    </section>
</header>