<header>
    <section>
    <nav class="header-superior">
        <a href="/"><img class="logo" src="/images/2(2).jpg"></a>
        <nav class="inicio-carrito">
            <a href="/login">
                <i id="big-icon" class="fa-solid fa-user"></i>
            </a>
            <a href="/carrito">
                <i id="big-icon" class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </nav>
    <nav class="header-inferior">
        <nav class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </nav>
        <form action="/products/search" method="get">
        <nav class="barra-busqueda">
            <input type="text" name="search" class="barra" placeholder="  Buscar productos">
            <button id="lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </nav>
    </form>
    </nav>
    <a class="envio_text" href="/envio">
        <nav class="envios-pais">
        <i class="fa-solid fa-truck-fast"></i>
        <p>Envío a todo el país</p>
        </nav>
    </a>
</section>
<section>
    <nav class="barra-menues">
        <ul class="vinculos">
            <a href="/categorias"><li>Categorias</li></a>
            <a href="/products/listado"><li>Productos</li></a>
            <a href="/regalo"><li>Gift Card</li></a>
            <a href="/ayuda"><li>Ayuda</li></a>
        </ul>
        <ul class="vinculos">
            <% if (!locals.isLogged) { %>
                <a href="/user/login"><li>Inicia sesion</li></a>
                <a href="/user/register"><li>Regístrate</li></a>
            <% } else { %>
                <a href="/user/profile/<%= locals.user.id %>"><li>Mi Perfil</li></a>
                <% if (locals.user.rol == 1) { %>
                    <a href="/user/list"><li>Usuarios</li></a>
                    <a href="/products/create"><li>Crear Producto</li></a>
                <% } %>
            <% } %>
        </ul>
    </nav>
    </section>
</header>