<header>
    <section>
    <nav class="header-superior">
        <img class="logo" src="images/2(2).jpg">
        <nav class="inicio-carrito">
            <a href="/login">
                <i id="big-icon" class="fa-solid fa-user"></i>
            </a>
            <a href="/carrito">
                <i id="big-icon" class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </nav>
    <nav class="header-inferior">
        <nav class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </nav>
        <nav class="barra-busqueda">  
            <input class="barra" placeholder="  Buscar productos">
            <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
        </nav>
    </nav>
    <nav class="envios-pais">
        <i class="fa-solid fa-truck-fast"></i>
        <p>Envío a todo el país</p>
    </nav>
</section>
<section>
    <nav class="barra-menues">
        <ul>
            <li>Categorias</li>
            <li>Productos Destacados</li>
            <li>Ofertas</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Inicia sesion</li>
            <li>Regístrate</li>
            <li>Mi carrito</li>
        </ul>
    </nav>
    </section>
</header>